.sectionContainer {
  height: 30rem;
  background-color: white;
  width: 1240px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3rem;

  @media(max-width: 1024px) {
    width: 100%;
  }

  h1 {
    color: var(--blue-600);
  }
}
