.sectionContainer {
  width: 1240px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 3rem;

  @media(max-width: 1024px) {
    width: 100%;
  }

  h1 {
    color: var(--blue-600);
  }

  a {
    padding: 0.75rem 2rem;
    margin-top: 2rem;
    background-color: #18d94b;
    border: 5px solid #18d94b;
    width: 50%;
    color: black;
    text-decoration: none;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    transition: all 0.2s;

    &:hover {
      background-color: transparent;
      color: #18d94b;
    }

    @media(max-width: 768px) {
      width: 90%;
      font-size: 1.4rem;
    }
  }
}

.ourPlan {
  margin-top: 1rem;
  padding: 2rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-position: inside;
  border-radius: 5px;
  box-shadow: 0 0 1em rgb(68, 66, 66);

  @media(max-width: 768px) {
    width: 90%;
  }

  ul {
    li {
      color: black;
      font-size: 1.5rem;

      @media(max-width: 768px) {
        font-size: 1rem;
      }

      & + li {
        margin-top: 0.75rem;
      }
    }
  }
}
