.headerContainer {
  width: 100%;
  background: var(--blue-600);
  min-height: 6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  > p {
    color: var(--white);
    font-size: 3rem;
  }
}
